p-sa-adf-shared-001/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "p-sa-adf-shared-001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_ulv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_dp200_001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inputEmp.txt",
						"folderPath": "input",
						"container": "adfv2tutorial"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_uyg')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_dp200_002",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "SalesLT",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dst_sqldb_radio_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_dp200_001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "radio"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dst_sqldw_radio_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldw_dp200_001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ny_taxi_yellow_trip_2018')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_shared_002",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "2018",
						"container": "ny-taxi-yellow-trip"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "VendorID",
						"type": "String"
					},
					{
						"name": "tpep_pickup_datetime",
						"type": "String"
					},
					{
						"name": "tpep_dropoff_datetime",
						"type": "String"
					},
					{
						"name": "passenger_count",
						"type": "String"
					},
					{
						"name": "trip_distance",
						"type": "String"
					},
					{
						"name": "RatecodeID",
						"type": "String"
					},
					{
						"name": "store_and_fwd_flag",
						"type": "String"
					},
					{
						"name": "PULocationID",
						"type": "String"
					},
					{
						"name": "DOLocationID",
						"type": "String"
					},
					{
						"name": "payment_type",
						"type": "String"
					},
					{
						"name": "fare_amount",
						"type": "String"
					},
					{
						"name": "extra",
						"type": "String"
					},
					{
						"name": "mta_tax",
						"type": "String"
					},
					{
						"name": "tip_amount",
						"type": "String"
					},
					{
						"name": "tolls_amount",
						"type": "String"
					},
					{
						"name": "improvement_surcharge",
						"type": "String"
					},
					{
						"name": "total_amount",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ny_taxi_yellow_trip_2019')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_shared_002",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "2019",
						"container": "ny-taxi-yellow-trip"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "VendorID",
						"type": "String"
					},
					{
						"name": "tpep_pickup_datetime",
						"type": "String"
					},
					{
						"name": "tpep_dropoff_datetime",
						"type": "String"
					},
					{
						"name": "passenger_count",
						"type": "String"
					},
					{
						"name": "trip_distance",
						"type": "String"
					},
					{
						"name": "RatecodeID",
						"type": "String"
					},
					{
						"name": "store_and_fwd_flag",
						"type": "String"
					},
					{
						"name": "PULocationID",
						"type": "String"
					},
					{
						"name": "DOLocationID",
						"type": "String"
					},
					{
						"name": "payment_type",
						"type": "String"
					},
					{
						"name": "fare_amount",
						"type": "String"
					},
					{
						"name": "extra",
						"type": "String"
					},
					{
						"name": "mta_tax",
						"type": "String"
					},
					{
						"name": "tip_amount",
						"type": "String"
					},
					{
						"name": "tolls_amount",
						"type": "String"
					},
					{
						"name": "improvement_surcharge",
						"type": "String"
					},
					{
						"name": "total_amount",
						"type": "String"
					},
					{
						"name": "congestion_surcharge",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_src_blob_radio_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_dp200_001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dst_movie_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls_dp200_001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "output",
						"fileSystem": "data"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movie",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "Rating",
						"type": "String"
					},
					{
						"name": "Rotton Tomato",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dst_sqldb_movie_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sqldb_dp200_001",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "Ratings"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_databricks_demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/jay_on_business@outlook.com/mynotebook",
							"baseParameters": {
								"input": {
									"value": "@pipeline().parameters.name",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_dtbrks_dp200_001",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"name": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataBlobToSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataBlobToSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "adfv2tutorial/input/inputEmp.txt"
							},
							{
								"name": "Destination",
								"value": "dbo.emp"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_ulv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_ulv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_ulv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataS3ToADLS2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataS3ToADLS2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"wildcardFolderPath": "ny-taxi-yellow-trip",
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings",
									"maxRowsPerFile": 1000000,
									"fileNamePrefix": ""
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "VendorID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tpep_pickup_datetime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tpep_pickup_datetime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tpep_dropoff_datetime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tpep_dropoff_datetime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "passenger_count",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "passenger_count",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "trip_distance",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "trip_distance",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RatecodeID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RatecodeID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "store_and_fwd_flag",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "store_and_fwd_flag",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PULocationID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PULocationID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DOLocationID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DOLocationID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "payment_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "payment_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "fare_amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fare_amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "extra",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "extra",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "mta_tax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "mta_tax",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tip_amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tip_amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tolls_amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tolls_amount",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "improvement_surcharge",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "improvement_surcharge",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "total_amount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "total_amount",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S3DatalakeLabData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS2DatalakeParqData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataSQLToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyDataSQLToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "ID",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NickName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NickName",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Score",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Score",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Result",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Result",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLExamData",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "BlobParqExamData",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataSQLToSQLDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_uyg",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy_uyg",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "SalesLT.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "SalesLT.@{item().destination.table}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": false
											},
											"tableOption": "autoCreate"
										},
										"enableStaging": true,
										"stagingSettings": {
											"linkedServiceName": {
												"referenceName": "ls_adls_dp200_001",
												"type": "LinkedServiceReference"
											},
											"path": "temp"
										},
										"enableSkipIncompatibleRow": true,
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "ls_blob_dp200_001",
												"type": "LinkedServiceReference"
											},
											"path": "logs"
										},
										"translator": {
											"value": "@item().copyActivity.translator",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "SourceDataset_uyg",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DestinationDataset_uyg",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().destination.table"
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "Address"
								},
								"destination": {
									"table": "Address"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "AddressID",
													"type": "Int32"
												},
												"sink": {
													"name": "AddressID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddressLine1",
													"type": "String"
												},
												"sink": {
													"name": "AddressLine1",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "AddressLine2",
													"type": "String"
												},
												"sink": {
													"name": "AddressLine2",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "City",
													"type": "String"
												},
												"sink": {
													"name": "City",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "StateProvince",
													"type": "String"
												},
												"sink": {
													"name": "StateProvince",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CountryRegion",
													"type": "String"
												},
												"sink": {
													"name": "CountryRegion",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PostalCode",
													"type": "String"
												},
												"sink": {
													"name": "PostalCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "Customer"
								},
								"destination": {
									"table": "Customer"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "PasswordHash",
													"type": "String"
												},
												"sink": {
													"name": "PasswordHash",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PasswordSalt",
													"type": "String"
												},
												"sink": {
													"name": "PasswordSalt",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "LastName",
													"type": "String"
												},
												"sink": {
													"name": "LastName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Suffix",
													"type": "String"
												},
												"sink": {
													"name": "Suffix",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CompanyName",
													"type": "String"
												},
												"sink": {
													"name": "CompanyName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "SalesPerson",
													"type": "String"
												},
												"sink": {
													"name": "SalesPerson",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "EmailAddress",
													"type": "String"
												},
												"sink": {
													"name": "EmailAddress",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Phone",
													"type": "String"
												},
												"sink": {
													"name": "Phone",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CustomerID",
													"type": "Int32"
												},
												"sink": {
													"name": "CustomerID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "NameStyle",
													"type": "Boolean"
												},
												"sink": {
													"name": "NameStyle",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "Title",
													"type": "String"
												},
												"sink": {
													"name": "Title",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "FirstName",
													"type": "String"
												},
												"sink": {
													"name": "FirstName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "MiddleName",
													"type": "String"
												},
												"sink": {
													"name": "MiddleName",
													"type": "String"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "CustomerAddress"
								},
								"destination": {
									"table": "CustomerAddress"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "CustomerID",
													"type": "Int32"
												},
												"sink": {
													"name": "CustomerID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddressID",
													"type": "Int32"
												},
												"sink": {
													"name": "AddressID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "AddressType",
													"type": "String"
												},
												"sink": {
													"name": "AddressType",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "Product"
								},
								"destination": {
									"table": "Product"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "ProductNumber",
													"type": "String"
												},
												"sink": {
													"name": "ProductNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Color",
													"type": "String"
												},
												"sink": {
													"name": "Color",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "StandardCost",
													"type": "Decimal"
												},
												"sink": {
													"name": "StandardCost",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "ListPrice",
													"type": "Decimal"
												},
												"sink": {
													"name": "ListPrice",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "DiscontinuedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "DiscontinuedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "ThumbNailPhoto",
													"type": "Byte[]"
												},
												"sink": {
													"name": "ThumbNailPhoto",
													"type": "Byte[]"
												}
											},
											{
												"source": {
													"name": "ThumbnailPhotoFileName",
													"type": "String"
												},
												"sink": {
													"name": "ThumbnailPhotoFileName",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "Size",
													"type": "String"
												},
												"sink": {
													"name": "Size",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "Weight",
													"type": "Decimal"
												},
												"sink": {
													"name": "Weight",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "ProductCategoryID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductCategoryID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ProductModelID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductModelID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SellStartDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "SellStartDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "SellEndDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "SellEndDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "ProductCategory"
								},
								"destination": {
									"table": "ProductCategory"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductCategoryID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductCategoryID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ParentProductCategoryID",
													"type": "Int32"
												},
												"sink": {
													"name": "ParentProductCategoryID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "ProductDescription"
								},
								"destination": {
									"table": "ProductDescription"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductDescriptionID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductDescriptionID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Description",
													"type": "String"
												},
												"sink": {
													"name": "Description",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "ProductModel"
								},
								"destination": {
									"table": "ProductModel"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductModelID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductModelID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Name",
													"type": "String"
												},
												"sink": {
													"name": "Name",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CatalogDescription",
													"type": "String"
												},
												"sink": {
													"name": "CatalogDescription",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "ProductModelProductDescription"
								},
								"destination": {
									"table": "ProductModelProductDescription"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "ProductModelID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductModelID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ProductDescriptionID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductDescriptionID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "Culture",
													"type": "String"
												},
												"sink": {
													"name": "Culture",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "SalesOrderDetail"
								},
								"destination": {
									"table": "SalesOrderDetail"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "LineTotal",
													"type": "Decimal"
												},
												"sink": {
													"name": "LineTotal",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "SalesOrderID",
													"type": "Int32"
												},
												"sink": {
													"name": "SalesOrderID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "SalesOrderDetailID",
													"type": "Int32"
												},
												"sink": {
													"name": "SalesOrderDetailID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "OrderQty",
													"type": "Int16"
												},
												"sink": {
													"name": "OrderQty",
													"type": "Int16"
												}
											},
											{
												"source": {
													"name": "ProductID",
													"type": "Int32"
												},
												"sink": {
													"name": "ProductID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "UnitPrice",
													"type": "Decimal"
												},
												"sink": {
													"name": "UnitPrice",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "UnitPriceDiscount",
													"type": "Decimal"
												},
												"sink": {
													"name": "UnitPriceDiscount",
													"type": "Decimal"
												}
											}
										]
									}
								}
							},
							{
								"source": {
									"table": "SalesOrderHeader"
								},
								"destination": {
									"table": "SalesOrderHeader"
								},
								"copyActivity": {
									"translator": {
										"type": "TabularTranslator",
										"mappings": [
											{
												"source": {
													"name": "SalesOrderID",
													"type": "Int32"
												},
												"sink": {
													"name": "SalesOrderID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "RevisionNumber",
													"type": "Byte"
												},
												"sink": {
													"name": "RevisionNumber",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "OrderDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "OrderDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "DueDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "DueDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "ShipDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ShipDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "Status",
													"type": "Byte"
												},
												"sink": {
													"name": "Status",
													"type": "Byte"
												}
											},
											{
												"source": {
													"name": "TotalDue",
													"type": "Decimal"
												},
												"sink": {
													"name": "TotalDue",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "Comment",
													"type": "String"
												},
												"sink": {
													"name": "Comment",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "rowguid",
													"type": "Guid"
												},
												"sink": {
													"name": "rowguid",
													"type": "Guid"
												}
											},
											{
												"source": {
													"name": "ModifiedDate",
													"type": "DateTime"
												},
												"sink": {
													"name": "ModifiedDate",
													"type": "DateTime"
												}
											},
											{
												"source": {
													"name": "BillToAddressID",
													"type": "Int32"
												},
												"sink": {
													"name": "BillToAddressID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ShipMethod",
													"type": "String"
												},
												"sink": {
													"name": "ShipMethod",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CreditCardApprovalCode",
													"type": "String"
												},
												"sink": {
													"name": "CreditCardApprovalCode",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "SubTotal",
													"type": "Decimal"
												},
												"sink": {
													"name": "SubTotal",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "TaxAmt",
													"type": "Decimal"
												},
												"sink": {
													"name": "TaxAmt",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "Freight",
													"type": "Decimal"
												},
												"sink": {
													"name": "Freight",
													"type": "Decimal"
												}
											},
											{
												"source": {
													"name": "OnlineOrderFlag",
													"type": "Boolean"
												},
												"sink": {
													"name": "OnlineOrderFlag",
													"type": "Boolean"
												}
											},
											{
												"source": {
													"name": "SalesOrderNumber",
													"type": "String"
												},
												"sink": {
													"name": "SalesOrderNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "PurchaseOrderNumber",
													"type": "String"
												},
												"sink": {
													"name": "PurchaseOrderNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "AccountNumber",
													"type": "String"
												},
												"sink": {
													"name": "AccountNumber",
													"type": "String"
												}
											},
											{
												"source": {
													"name": "CustomerID",
													"type": "Int32"
												},
												"sink": {
													"name": "CustomerID",
													"type": "Int32"
												}
											},
											{
												"source": {
													"name": "ShipToAddressID",
													"type": "Int32"
												},
												"sink": {
													"name": "ShipToAddressID",
													"type": "Int32"
												}
											}
										]
									}
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_uyg')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_etl_demo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "download_radio_data",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://raw.githubusercontent.com/Azure/usql/master/Examples/Samples/Data/json/radiowebsite/small_radio_json.json",
							"method": "GET",
							"headers": {}
						}
					},
					{
						"name": "save_radio_data_to_blob",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "download_radio_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://psastaccblobdp200001.blob.core.windows.net/temp/small_radio_json.json",
							"method": "PUT",
							"headers": {
								"x-ms-date": {
									"value": "@formatDateTime(utcnow(), 'R')",
									"type": "Expression"
								},
								"x-ms-version\t": "2019-12-12",
								"x-ms-blob-type": "BlockBlob"
							},
							"body": {
								"value": "@activity('download_radio_data').output.Response",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://storage.azure.com"
							}
						}
					},
					{
						"name": "extract_radio_data",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "save_radio_data_to_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/jay_on_business@outlook.com/nb-python-dp200-001"
						},
						"linkedServiceName": {
							"referenceName": "ls_dtbrks_dp200_001",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_blob_to_sqldb",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "extract_radio_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_blob_radio_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dst_sqldb_radio_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_src_blob_radio_data')]",
				"[concat(variables('factoryId'), '/datasets/ds_dst_sqldb_radio_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransformMovies')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MoviesDB",
								"type": "DatasetReference"
							},
							"name": "MoviesDB"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "MoviesSink",
								"type": "DatasetReference"
							},
							"name": "Sink"
						}
					],
					"transformations": [
						{
							"name": "FilterYears"
						},
						{
							"name": "AggregateComedyRating"
						}
					],
					"script": "source(output(\n\t\tmovie as string,\n\t\ttitle as string,\n\t\tgenres as string,\n\t\tyear as string,\n\t\tRating as string,\n\t\t{Rotton Tomato} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> MoviesDB\nMoviesDB filter(toInteger(year) >= 1910 && toInteger(year) <= 2000 && rlike(genres, 'Comedy')) ~> FilterYears\nFilterYears aggregate(groupBy(year),\n\tAverageComedyRating = avg(toInteger(Rating))) ~> AggregateComedyRating\nAggregateComedyRating sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Sink"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_transform_movie_data')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_dst_movie_data",
								"type": "DatasetReference"
							},
							"name": "SourceData"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_dst_sqldb_movie_data",
								"type": "DatasetReference"
							},
							"name": "WriteToSQLTable"
						}
					],
					"transformations": [
						{
							"name": "TransformColumns"
						},
						{
							"name": "FilterData"
						},
						{
							"name": "DerivePrimaryGenre"
						},
						{
							"name": "RankMoviesByRatings"
						},
						{
							"name": "AggregateRatings"
						},
						{
							"name": "UpsertIfTrue"
						}
					],
					"script": "source(output(\n\t\tmovie as string,\n\t\ttitle as string,\n\t\tgenres as string,\n\t\tyear as string,\n\t\tRating as string,\n\t\t{Rotton Tomato} as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> SourceData\nSourceData select(mapColumn(\n\t\tmovie,\n\t\ttitle,\n\t\tgenres,\n\t\tyear,\n\t\t{Rotten Tomato} = {Rotton Tomato}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> TransformColumns\nTransformColumns filter(toInteger(year) > 1950) ~> FilterData\nFilterData derive(PrimaryGenre = iif(locate(\"|\", genres) > 1, left(genres, locate(\"|\", genres) - 1), genres)) ~> DerivePrimaryGenre\nDerivePrimaryGenre window(over(PrimaryGenre,\n\t\tyear),\n\tasc({Rotten Tomato}, true),\n\tRatingsRank = rank()) ~> RankMoviesByRatings\nRankMoviesByRatings aggregate(groupBy(PrimaryGenre,\n\t\tyear),\n\tAverageRating = avg(toInteger({Rotten Tomato})),\n\t\tHighestRated = first(title),\n\t\tLowestRated = last(title),\n\t\tNumberOfMovies = count()) ~> AggregateRatings\nAggregateRatings alterRow(upsertIf(true())) ~> UpsertIfTrue\nUpsertIfTrue sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['PrimaryGenre','year'],\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> WriteToSQLTable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_dst_movie_data')]",
				"[concat(variables('factoryId'), '/datasets/ds_dst_sqldb_movie_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TransformMovies')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TransformMoives",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TransformMovies",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"MoviesDB": {},
									"Sink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TransformMovies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_movie_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_movie_data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "movie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "movie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "genres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "genres",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rating",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rating",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Rotton Tomato",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rotton Tomato",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_src_movie_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_dst_movie_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "transform_movie_data",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "copy_movie_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_transform_movie_data",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SourceData": {},
									"WriteToSQLTable": {}
								}
							},
							"staging": {
								"folderPath": ""
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_dst_movie_data')]",
				"[concat(variables('factoryId'), '/dataflows/df_transform_movie_data')]"
			]
		}
	]
}